<h1>Add new Journal</h1>
<div>
    <div><button type="button" class="btn btn-primary" (click)="save()">Save</button></div>
    <div>ID<input type="Text" [(ngModel)]="journal.id"></div>    
    <div>Name<input type="Text" [(ngModel)]="journal.name"></div>
    <div>Description<input type="Text" [(ngModel)]="journal.description"></div>
    <div>Account Number<input type="Text" [(ngModel)]="journal.accountNumber"></div>
    <div>Amount<input type="Text" [(ngModel)]="journal.amount"></div>
    <div>Date<input type="Text" [(ngModel)]="journal.date"></div>    
</div>