<h1>Initiatives in the system</h1>
<div>
    <div>
        <button type="button" class="btn btn-primary" (click)="gotoNewInitiative()">New Initiative</button>
    </div>
    <div>NAME -> DESCRIPTION -> BALANCE -> INSTALMENT</div>
    <p></p>
    <div *ngFor="let initiative of allInitiatives" (click)="onSelect(initiative)">
        <div>
            <p>{{initiative.name}} -> {{initiative.description}} -> {{initiative.balance}} -> {{initiative.instalmentAmount}}
            </p>
        </div>
    </div>
</div>

<initiative-detail [initiative]="selectedInitiative"></initiative-detail>