<h1>Add new Initiative</h1>
<div>
    <div><button type="button" class="btn btn-primary" (click)="save()">Save</button></div>
    <div>ID<input type="Text" [(ngModel)]="initiative.id"></div>
    <div>Member ID<input type="Text" [(ngModel)]="initiative.memberId"></div>
    <div>Name<input type="Text" [(ngModel)]="initiative.name"></div>
    <div>Description<input type="Text" [(ngModel)]="initiative.description"></div>
    <div>Balance<input type="Text" [(ngModel)]="initiative.balance"></div>
    <div>Instalment Amount<input type="Text" [(ngModel)]="initiative.instalmentAmount"></div>
    <div>Frequency<input type="Text" [(ngModel)]="initiative.frequency"></div>
    <div>Target Date<input type="Text" [(ngModel)]="initiative.targetDate"></div>
    <div>Target Balance<input type="Text" [(ngModel)]="initiative.targetBalance"></div>
    <div>Underlying Account<input type="Text" [(ngModel)]="initiative.underlyingAccount"></div>
    <div>External Reference<input type="Text" [(ngModel)]="initiative.externalRef"></div>    
</div>