<div class="panel panel-default" *ngIf="budget">
    <div class="panel-heading">
        <h3 class="panel-title">{{budget.name}} details!</h3>
    </div>
    <div class="panel-body">
       
        <div class="row">
            <div class="col-md-4">Name</div>
            <div class="col-md-8"><input class="form-control" type="Text" [(ngModel)]="budget.name"></div>
        </div>
        <div class="row">
            <div class="col-md-4">Description</div>
            <div class="col-md-8"><input class="form-control" type="Text" [(ngModel)]="budget.description"></div>
        </div>
        <div class="row">
            <div class="col-md-4">Balance</div>
            <div class="col-md-8"><input class="form-control" type="Text" [(ngModel)]="budget.balance"></div>
        </div>
        <div class="row">
            <div class="col-md-4">Instalment Amount</div>
            <div class="col-md-8"><input class="form-control" type="Text" [(ngModel)]="budget.instalmentAmount"></div>
        </div>
        <div class="row">
            <div class="col-md-4">Frequency</div>
            <div class="col-md-8"><input class="form-control" type="Text" [(ngModel)]="budget.frequency"></div>
        </div>
         <div class="row">
            <div class="col-md-4">ID</div>
            <div class="col-md-8"><input class="form-control" type="Text" [(ngModel)]="budget.id" disabled></div>
        </div>
        <div class="row">
            <div class="col-md-4">Member ID</div>
            <div class="col-md-8"><input class="form-control" type="Text" [(ngModel)]="budget.memberId" disabled></div>
        </div>
        <div class="row">
            <div class="col-md-4">Underlying Account</div>
            <div class="col-md-8"><input class="form-control" type="Text" [(ngModel)]="budget.underlyingAccount" disabled></div>
        </div>
        <div class="row">
            <div class="col-md-4">External Reference</div>
            <div class="col-md-8"><input class="form-control" type="Text" [(ngModel)]="budget.externalRef" disabled></div>
        </div>
        <div>
            <button type="button" class="btn btn-primary" (click)="save()">Save</button>
        </div>
    </div>
</div>