<div class="panel panel-default" *ngIf="budget">
    <div class="panel-heading">
        <h3 class="panel-title">{{budget.name}} details!</h3>
    </div>
    <div class="panel-body">
        <form role="form" class="form-horizontal">
            <div class="row form-group">
                <div class="col-md-4">Name</div>
                <div class="col-md-8"><input class="form-control" type="Text" [(ngModel)]="budget.name"></div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">Description</div>
                <div class="col-md-8"><input class="form-control" type="Text" [(ngModel)]="budget.description"></div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">Balance</div>
                <div class="col-md-8"><input class="form-control" type="Text" [(ngModel)]="budget.balance"></div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">Instalment Amount</div>
                <div class="col-md-8"><input class="form-control" type="Text" [(ngModel)]="budget.instalmentAmount"></div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">Frequency</div>
                <div class="col-md-8"><input class="form-control" type="Text" [(ngModel)]="budget.frequency"></div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">ID</div>
                <div class="col-md-8"><input class="form-control" type="Text" [(ngModel)]="budget.id" disabled></div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">Member ID</div>
                <div class="col-md-8"><input class="form-control" type="Text" [(ngModel)]="budget.memberId" disabled></div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">Underlying Account</div>
                <div class="col-md-8"><input class="form-control" type="Text" [(ngModel)]="budget.underlyingAccount" disabled></div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">External Reference</div>
                <div class="col-md-8"><input class="form-control" type="Text" [(ngModel)]="budget.externalRef" disabled></div>
            </div>
        </form>
        <div>
            <button type="button" class="btn btn-primary" (click)="save()">Save</button>
        </div>
        <div class="alert alert-success" role="alert" *ngIf="saveWasSuccessful">
            <strong>Budget saved!</strong> Budget detail was successfully saved.
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="saveWasInsuccessful">
            <strong>Budget error!</strong> Error saving budget detail.
        </div>
    </div>
</div>