<h1>Budgets in the system</h1>
<div class="row">
    <div class="col-md-6">
        <div>
            <form role="form" class="form-horizontal">
                <div class="row form-group goalfish-spacing">
                    <button type="button" class="btn btn-primary col-md-2" (click)="gotoNewBudget()">New Budget</button>
                    <button type="button" class="btn btn-default col-md-2" (click)="gotoDeposit()">Deposit</button>
                    <button type="button" class="btn btn-default col-md-2" (click)="gotoWithdraw()">Withdraw</button>
                    <button type="button" class="btn btn-default col-md-2" (click)="reconcile()">Reconcile</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Budgets</h3>
            </div>
            <div class="panel-body">

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Balance</th>
                            <th>Instalment</th>
                            <th *ngIf="showIsReconciledField">Is Reconciled</th>
                            <th *ngIf="showIsReconciledField">Calculated Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let budget of allBudgets" (click)="onSelect(budget)">
                            <td>{{budget.id}}</td>
                            <td>{{budget.name}}</td>
                            <td>{{budget.description}}</td>
                            <td>{{budget.balance}} </td>
                            <td>{{budget.instalmentAmount}}</td>
                            <td *ngIf="showIsReconciledField">{{budget.isReconciled?"Yes":"No"}}</td>
                            <td *ngIf="showIsReconciledField">{{budget.calculatedBalance}}</td>
                        </tr>
                    </tbody>
                </table>
                <p>* Budget detail available, select individual budget</p>
            </div>
        </div>


    </div>
    <div class="col-md-4">
        <budget-detail [budget]="selectedBudget"></budget-detail>
    </div>
</div>