<h1>Budgets in the system</h1>
<div>
    <div>
        <button type="button" class="btn btn-primary" (click)="gotoNewBudget()">New Budget</button>
    </div>
   <div>NAME -> DESCRIPTION -> BALANCE -> INSTALMENT</div>
    <p></p>
    <div *ngFor="let budget of allBudgets" (click)="onSelect(budget)">
        <div>
            <p>{{budget.name}} -> {{budget.description}} -> {{budget.balance}} -> {{budget.instalmentAmount}}
            </p>
        </div>
    </div>    
</div>

<budget-detail [budget]="selectedBudget"></budget-detail>