<div>
    <div>ID<input type="Text" value="id"></div>
    <div>Member ID<input type="Text" value="memberId"></div>
    <div>Name<input type="Text" value="name"></div>
    <div>Description<input type="Text" value="description"></div>
    <div>Balance<input type="Text" value="balance"></div>
    <div>Instalment Amount<input type="Text" value="instalmentAmount"></div>
    <div>Frequency<input type="Text" value="frequency"></div>
    <div>Underlying Account<input type="Text" value="underlyingAccount"></div>
    <div>External Reference<input type="Text" value="externalRef"></div>
</div>