<h1>Transactions in the system</h1>

<div>
    <div>
        <button type="button" class="btn btn-primary" (click)="gotoNewTransaction()">New Transaction</button>
    </div>
 <div>ID -> IS POSTED -> DESCRIPTION -> CLASSIFICATION -> AMOUNT</div>
    <p></p>
    <div *ngFor="let transaction of allTransactions" (click)="gotoDetail(hero)">
        <div>
            <p>{{transaction.id}} -> {{transaction.isPosted}} -> {{transaction.description}} -> {{transaction.classification}} -> {{transaction.amount}}
            </p>
        </div>
    </div>    
</div>