<h1>Add new Posting</h1>
<div>
    <div><button type="button" class="btn btn-primary" (click)="save()">Save</button></div>
    <div>ID<input type="Text" [(ngModel)]="posting.id"></div>    
    <div>Type<input type="Text" [(ngModel)]="posting.type"></div>
    <div>Description<input type="Text" [(ngModel)]="posting.description"></div>
    <div>Account Number<input type="Text" [(ngModel)]="posting.accountNumber"></div>
    <div>Amount<input type="Text" [(ngModel)]="posting.amount"></div>
    <div>Date<input type="Text" [(ngModel)]="posting.date"></div>
    <div>Reference ID<input type="Text" [(ngModel)]="posting.referenceId"></div>    
</div>